<h1>{{name}}</h1>
<span>
    <a href="/movies">See your full movie list</a>
    <a href="/movies/{{this.id}}/edit" style="display: flex; justify-content:flex-end">Edit your Movie</a>
</span>

{{movie}}
<div>
    <center> 
        <span>Name: <b>{{this.name}}</b></span> 
        {{!-- <img src="{{this.img}}" alt="poke image" style="text-align: center;">  --}}
     </center>
</div>

 <div>Genre: <b>{{this.genre}}</b></div> 
 <div>Date: <b>{{this.date}}</b></div> 
 <div>Rank: <b>{{this.rank}}</b></div> 
 <div>Comment: <b>{{this.comment}}</b></div> 
 <img src="{{this.img}}" alt="whatever image">

